<article>
  <section class="col4 mx-auto m-2">
    Category<select [(ngModel)]="categoryName" (change)="viewbycategory()">
     <!-- <option value="Herbal Extracts">Herbal Extracts</option>
      <option value="Menthol Essentials">Menthol Essentials</option>
      <option value="Natural Herbs ">Natural Herbs</option> -->
     <option *ngFor="let c of categories" value="{{c.categoryName}}">{{c.categoryName}}</option> -->
    </select>
  </section>
  <div class="col-md-4 mx-auto alert alert-success" *ngIf="msg!=undefined">
    {{msg}}
  </div>
  <table class="table table-primary table-stripped table-hover col-8 mx-auto m-2">
    <tr>
      <th>Medicine Id</th>
      <th>Medicine Name</th>
      <th>Medicine Cost</th>
      <th>MFD</th>
      <th>EXP</th>
      <th>Stock</th>
      <th>Category</th> 
    </tr>
    <tr *ngFor="let m of medicines">
      <td>{{m.medicineId}}</td>
      <td>{{m.medicineName | titlecase}}</td>
      <td>{{m.medicineCost | currency:'INR'}}</td>
      <td>{{m.mfd | date:'dd/MMM/yyyy'}}</td>
      <td>{{m.expiryDate | date:'dd/MMM/yyyy'}}</td>
      <td>{{m.stock}}</td>
      <td>{{m.category.categoryName | titlecase}}</td>  
    </tr>
  </table>
</article>

