<section>
    <div style="text-align: center;" class="p-5">
        <button (click)="showCartItem()" class="btn btn-warning ">Confirm Edit</button>
    </div>
    <div>
        <table *ngIf="msg!=undefined" class="table">
            <tr>
                <td class="table-responsive table-success">Medicine Name</td>
                <td class="table-responsive table-warning">:{{cartObj.medicine.medicineName}}</td>
            </tr>
            <tr>
                <td class="table-responsive table-success">Manufactured by</td>
                <td class="table-responsive table-warning">:{{cartObj.medicine.companyName}}</td>
            </tr>
            <tr>
                <td class="table-responsive table-success">Medicine Cost</td>
                <td class="table-responsive table-warning">:{{cartObj.medicine.medicineCost}}</td>
            </tr>
            <tr>
                <td class="table-responsive table-success">Manufacture date</td>
                <td class="table-responsive table-warning">:{{cartObj.medicine.mfd}}</td>
            </tr>
            <tr>
                <td class="table-responsive table-success">Expiry Date</td>
                <td class="table-responsive table-warning">:{{cartObj.medicine.expiryDate}}</td>
            </tr>
            <tr>
                <td class="table-responsive table-success">Quantity Ordered</td>
                <td class="table-responsive table-warning">:{{cartObj.qty}}</td>
            </tr>
            <tr>
                <td class="table-responsive table-success">Enter quantity to edit</td>
                <td class="table-responsive table-warning"><input type="number" name="editqty" [(ngModel)]="qty"></td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2"><input type="submit" (click)="editCartItem()" class="btn btn-warning"></td>
            </tr>
        </table>
    </div>
</section>