<div class="col-5 mx-auto p-2 m-2">
  <input type="button" value="View All" (click)="vieworders()" class="btn btn-info"/>
</div>
<section>
  <div *ngIf="msg!=undefined" class="alert alert-danger">{{msg}}</div>
  <table class="table table-primary table-striped table-responsive{-sm|-md|-lg|-xl}" *ngIf="orders!=undefined">
    <tr>
      <td>Customer Id</td>
      <td *ngFor="let order of orders">{{order.customer_order.customerId}}</td>
    </tr>
    <tr> 
      <td>Customer Name</td>
      <td *ngFor="let order of orders">{{order.customer_order.customerName | titlecase}}</td>
    </tr>
    <tr> 
      <td>Contact No.</td>
      <td *ngFor="let order of orders">{{order.customer_order.contactNo}}</td>
    </tr>
    <tr> 
      <td>Address</td>
      <td *ngFor="let order of orders">{{order.customer_order.address}}</td>
    </tr>
    <tr> 
      <td>Location</td>
      <td *ngFor="let order of orders">{{order.customer_order.location}}</td>
    </tr>
    <tr> 
      <td>Order Id</td>
      <td *ngFor="let order of orders">{{order.orderId}}</td>
    </tr>
    <tr> 
      <td>Order Date</td>
      <td *ngFor="let order of orders">{{order.orderDate | date : 'dd/MMM/yyyy' }}</td>
    </tr>
    <tr>
      <td>Order Status</td>
      <td *ngFor="let order of orders">{{order.orderStatus}}</td>
    </tr>
    <tr>
      <td>Total Cost</td>
      <td *ngFor="let order of orders">{{order.totalCost | currency : 'INR'}}</td>
    </tr>
  </table>
</section>