<div class="col-5 mx-auto p-2 m-2">
  <input type="number" placeholder="enter-Id" [(ngModel)]="medicineID" class="form-control"/>
  <input type="button" value="search" (click)="viewmedicinebyid()" class="btn btn-info" />
</div>
<section>
  <div *ngIf="msg!=undefined" class="alert alert-danger">{{msg}}</div>
  <table class="table table-primary table-stripped " *ngIf="medicines!=undefined">
    
    <tr>
      <td>Medicine ID</td>
      <td>{{medicines.medicineId}}</td>
    </tr>
    <tr>
      <td>Medicine Name</td>
      <td>{{medicines.medicineName | titlecase}}</td>
    </tr>
    <tr>
      <td>Medicine Cost</td>
      <td>{{medicines.medicineCost | currency:'INR'}}</td>
    </tr>
    <tr>
      <td>MFD</td>
      <td>{{medicines.mfd | date:'dd/MMM/yyyy'}}</td>
    </tr>
    <tr>
      <td>EXP</td>
      <td>{{medicines.expiryDate | date:'dd/MMM/yyyy'}}</td>
    </tr>
    <tr>
      <td>Stock</td>
      <td>{{medicines.stock}}</td>
    </tr>
  </table>
</section>
