<section class="bg-light-info" id="addid">
  <div class="alert alert-sucess" *ngIf="msg!=undefined" [ngStyle]="{'background-color':this.msgflag?'green':'red'}">{{msg}}</div>
  <form #frm="ngForm" class="" (ngSubmit)="add()">
    <div>Category Name</div>
    <div><input type="text"  name="txtdept" [(ngModel)]="cat.categoryName" #cname="ngModel" required/></div>
    <div *ngIf="cname.invalid && cname.touched" class="alert alert-danger">
      <div *ngIf="cname.errors.required">Category is required</div>
      
    </div>

    <input type="submit" value="addcategory" [disabled]="!frm.valid"/>
  </form>
</section>