<header class="p-1 bg-info">
  <h1 class="text-center text-primary mx-auto"> Online Ayurveda</h1>
  <div class="col-10 text-end" *ngIf="!storageservice.loginflag">
    <a routerLink="/login" style="cursor:pointer">Login</a>
  </div>
  <div class="col-10 text-end" *ngIf="storageservice.loginflag">
    <span class="text-primary">{{storageservice.username|titlecase}}</span>
    <a (click)="doLogout()" class="btn-link" style="cursor:pointer">Logout</a>
  </div>   
</header>

<article>
  <nav class="nav justify-content-center navbar navbar-expand-lg navbar-light bg-light">
    
    <a routerLink='category'class="navbar-brand btn btn-secondary text-white">Category </a>
    <a routerLink='medicine' class="navbar-brand btn btn-secondary text-white">Medicine</a>
    <a class="navbar-brand btn btn-secondary text-white" routerLink="getcustomercart" (click) = "setUserId()">Cart</a>
    <a class="navbar-brand btn btn-secondary text-white" routerLink="medspecs">Medicine Specifications</a>
  </nav>
  <router-outlet></router-outlet>
</article>
