<header class="jumbotron text-center">
  <div class = "mx-auto ">
    <h1>Angular OAM try</h1>
  </div>
  
</header>
<article class = "display:flex">
  <nav class="nav justify-content-center navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand btn btn-secondary text-white" routerLink="getcustomercart">Cart</a>
   
    <a class="navbar-brand btn btn-secondary text-white" routerLink="viewbycategory">Medicines By Category</a>
  </nav>
</article>
<router-outlet></router-outlet>