<section class="col-10 bg-primary mx-auto card card-primary p-1 m-1" id="addid">
  <div class="alert alert-sucess" *ngIf="msg!=undefined" [ngStyle]="{'background-color':this.msgflag?'green':'red'}">{{msg}}</div>
  <form #frm="ngForm" (ngSubmit)="addbycategory()">
    <div>Medicine Name</div>
    <div><input type="text" class="form-control" name="txtname" [(ngModel)]="med.medicineName" #meds="ngModel" required/></div>
    <div *ngIf="meds.invalid && meds.touched" class="alert alert-danger">
        <div *ngIf="meds.errors.required">Medicine Name is required</div>
    </div>
    <div>Medicine Cost</div>
    <div><input type="number" class="form-control" name="txtcost" [(ngModel)]="med.medicineCost" #meds="ngModel" required/></div>
    <div *ngIf="meds.invalid && meds.touched" class="alert alert-danger">
      <div *ngIf="meds.errors.required">Medicine Cost is required</div>
    </div>  
    <div>Manufacturing Date</div>
    <div><input type="date" class="form-control" name="txtdoj" [(ngModel)]="med.mfd" #meds="ngModel" required/></div>
    <div *ngIf="meds.invalid && meds.touched" class="alert alert-danger">
        <div *ngIf="meds.errors.required">Manufacturing Date is required</div>         
    </div>
    <div>Expiry Date</div>
    <div><input type="date" class="form-control" name="txtdoj" [(ngModel)]="med.expiryDate" #meds="ngModel" required/></div>
    <div *ngIf="meds.invalid && meds.touched" class="alert alert-danger">
          <div *ngIf="meds.errors.required">Expiry Date is required</div>
    </div>
    <div>Company Name</div>
    <div><input type="text" class="form-control" name="txtname" [(ngModel)]="med.companyName" #meds="ngModel" required/></div>
    <div *ngIf="meds.invalid && meds.touched" class="alert alert-danger">
        <div *ngIf="meds.errors.required">Company Name is required</div>
    </div>
    <div>Category Id</div>
    <div><input type="number" class="form-control" name="txtid" [(ngModel)]="med.categoryId" #meds="ngModel" required/></div>
    <div *ngIf="meds.invalid && meds.touched" class="alert alert-danger">
      <div *ngIf="meds.errors.required">Category Id is required</div>
    </div>  
    <div>Stock</div>
    <div><input type="number" class="form-control" name="txtstock" [(ngModel)]="med.stock" #meds="ngModel" required/></div>
    <div *ngIf="meds.invalid && meds.touched" class="alert alert-danger">
      <div *ngIf="meds.errors.required">stock is required</div>
    </div> 
    <div>Image</div>
    <div><input type="text" class="form-control" name="txtname" [(ngModel)]="med.image" #meds="ngModel" required/></div>
    <div *ngIf="meds.invalid && meds.touched" class="alert alert-danger">
        <div *ngIf="meds.errors.required">Image is required</div>
    </div> 
    <input type="submit" value="add" [disabled]="!frm.valid"/>
  </form>
</section>
