<article class=""  style="display:flex">
  <section class=" m-2 ">
    
    <div><input type="button" class="btn btn-info m-2" value="medicinebyid" routerLink="/medicine/viewmedicinebyid/"/></div>
    <div><input type="button" class="btn btn-info m-2" value="viewmedbycat" routerLink="/medicine/viewmedicinebycategory/"/></div>
    <div><input type="button" class="btn btn-info m-2" value="addmedbycat" routerLink="/medicine/addmedbycat/"/></div>
  </section>
  <section class="m-2" >
    
    <router-outlet></router-outlet>
  </section>
</article>
 