<section>
  <div class = "col-7 mx-auto p-5">
    <table class = "table table-striped table-success table-responsive ">
      <tr>
        <td>customer Id:</td>
        <td>{{custObj.customerId}}</td>
      </tr>
      <tr>
        <td>Name:</td>
        <td>{{custObj.customerName}}</td>
      </tr>
      <tr>
        <td>Contact No.</td>
        <td>{{custObj.contactNo}}</td>
      </tr>
      <tr>
        <td>Address</td>
        <td>{{custObj.address}} ,{{custObj.location}}</td>
      </tr>
      <tr>
        <td>Edit Details</td>
        <td><a routerLink = "/editprofile" class = "btn btn-warning">Edit Details</a></td>
      </tr>
    </table>
  </div>
</section>